<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <!-- PAGE INFO -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OriginSix</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header id="header">
    <!-- <nav class="container">
      <a class="logo" href="#">beauty<span>salon</span>.</a>
      <div class="menu">...</div>
    </nav> -->
    <div class="justify-content-center text-center">
      <!-- <h1 class="text-center" style="margin-top: 26px; color: #bd511f">CardsBrubs</h1><br><br> -->
      <img data-src="" alt="" src="../assets/sindimoto.jpg" data-holder-rendered="true">

      <!-- <button class="btn btn-dark justify-content-center" (click)="listarTodosCards()">Listar todos cards</button> -->
    </div>
  </header>

  <main>
    <section class="section justify-content-center text-center " id="home">
      <div class="container ">
        <h1>Sorteio!!</h1>
      </div>
    </section>
    <section *ngIf="showListaNumeros" class="section justify-content-center text-center " id="lista">
      <div class="container loading">
        <h1>Lista de números:</h1>
        <ul class="list-group" *ngFor="let item of numeros">
          <li class="list-group-item">{{item}}</li>
        </ul>
        <button type="button" (click)="sortear()" class="btn btn-dark">Sortear</button>
        <ngx-loading [show]="loading" [template]="loadingTemplate"></ngx-loading>
      </div>
    </section>
    <section class="section justify-content-center text-center " id="loading">
      <div class="container loading">
        <ngx-loading [show]="loading" [template]="loadingTemplate"></ngx-loading>
      </div>
    </section>
    <section *ngIf="showSorteados" class="section justify-content-center text-center " id="sorteados">
      <div class="container ">
        <h1>Lista de sorteados:</h1>
        <ul class="list-group" *ngFor="let item of numerosSorteados">

          <tm-ng-odometer [number]="'11973575621'" [theme]="'plaza'" [config]="{format: '(dddd)' }">
          </tm-ng-odometer>
          <!-- <ng2-odometer [number]="item.numero" [config]="{ }"></ng2-odometer> -->
          <!-- <li class="list-group-item"></li> -->
        </ul>

      </div>
    </section>

    <!-- <div class="divider-1"></div>

    <section class="section">
      <div class="container">outra section</div>
    </section> -->
  </main>
</body>

</html>